<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExcelDataSoap"/>
                <binding name="PluralAssetBackOfficeUtilityServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://service/PluralMDService/ExcelData.asmx" binding="basicHttpBinding" bindingConfiguration="ExcelDataSoap" contract="ExcelDataService.ExcelDataSoap" name="ExcelDataSoap"/>
            <endpoint address="http://service/PluralAssetBackOfficeUtilityService/PluralAssetBackOfficeUtilityService.asmx" binding="basicHttpBinding" bindingConfiguration="PluralAssetBackOfficeUtilityServiceSoap" contract="ABOUService.PluralAssetBackOfficeUtilityServiceSoap" name="PluralAssetBackOfficeUtilityServiceSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
